main{
	display: grid;
	justify-items: center;
}

.mulTitle{
	color: #428ff5;
	font-size: 40px;
	margin: 0;

	/* Animación, maquina de escribir */
	font-family: monospace;
	white-space: nowrap;
	border-right: 2px solid;
	width: 20ch;
	animation: typing 2s steps(20), blink .5s infinite step-end alternate;
	overflow: hidden;
}

@keyFrames typing {
	from { width: 0}
}

@keyFrames blink {
	50% { border-color: transparent}
}

.cuerpo{
	width: 1205px;
	margin-bottom: 0;
	margin-top: 10px;
	color: #2e4053;
	font-size: 21px;
}

.encabezado{
	color: #428ff5;
}

.sinopsis{
	font-size: 22px;
	font-weight: 600;
}

#container{
	border-top: 1px #eaecef solid;
	border-bottom: 1px #eaecef solid;
}
