body{
	font-family: 'Joan', serif;
	background-color: #101010;
}

header{
	display: flex;
	justify-content: end;
}

#links{
	display: inherit;
}

.redirect{
	text-decoration: none;
	border: 2px #428ff5 solid;
	border-radius: 25px;
	color: #428ff5;
	font-size: 20px;
	margin: 10px;
	padding: 10px 2em 10px 2em;
}

.redirect:hover{
	color: #fff;
	background-color: #428ff5;
}

.redirect:active{
	color: #fff;
	background-color:  #FF5733;
	border-color:  #FF5733;
}

.logo{
	position: absolute;
	top: -5px;
	left: 0px;
}

main{
	display: grid;
	justify-items: center;
	position: relative;
	top: 25px;
}

.mainText{
	font-size: 40px;
	color: #428ff5;
	font-family: monospace;
	white-space: nowrap;
	border-right: 2px solid;
	width: 27ch;

	animation: typing 2s steps(27), blink .5s infinite step-end alternate;
	overflow: hidden;
	margin: 0;
}

@keyFrames typing {
from { width: 0}
}

@keyFrames blink {
 50% { border-color: transparent}
}

.desc{
	font-size: 22px; 
	font-weight: 600;
	color:  #154360;
}

#optionsContainer{
	position: relative;
	top: 3em;
}

.list{
	display: grid;
	grid-template-columns: repeat(3, 1fr)
}

li{
	margin: 15px;
	list-style-type: none;
}

footer{
	position: relative;
	top: 175px;
}

.version{
	color: #428ff5;
}
